header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header img {
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 200px; 
    width: 100%;
}

p {
    font-size: 24px;
    text-align: center;
    margin-top: 5px; 
    width: 100%;
}

nav {
    font-size: 24px;
    text-align: left;
    margin-top: 20px; 
    width: 100%;
}

#chat-box {
  max-width: 800px;
  text-align: center;
  height: 300px;
  overflow-y: auto;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

#user-input {
   width: 700px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  display: block;
}
#send-btn {
  display: block;
  margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 30px;
}

.text {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.text h1 {
    margin:0;
}
.text p {
    margin:5px 0 0 0;
}

header {
    margin-top: 20px;
    margin-right: 20px;
}